{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=icon href="{% static 'icon/only-logo.ico' %}" sizes=128x128 type=image/png>
    <meta charset="UTF-8">
    <title>BearHub</title>
    <link href="{% static 'instyle.css' %}" rel="stylesheet">
  </head>
  <body>
    <h1>Admin Log In</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% if error_message %}
  <div class="alert-danger" style="display:block;">
    <p>{{ error_message }}</p>
  </div>
  {% endif %}
      <input type="submit" value="Submit">
      <a href="{% url 'bear:index' %}" style="float: right;display: block; margin-top: 45px;">Back</a>
    </form>

  </body>
  
  </html> 