{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>BearHub</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
      <a href="{% url 'bear:adminLogIn' %}">Admin Log In</a>
      <a href="{% url 'bear:LogIn' %}">Log In</a>
      <a href="{% url 'bear:signUp' %}">Sign Up</a>
    </div>
    <header>
      <h1>BearHub</h1>
      <p>The place for students to connect and collaborate!</p>
    </header>
    <button class="fancy" style="margin-top: 100px;"onclick=window.location.href="{% url 'bear:LogIn' %}";>
      Log In
    </button>
    <a href="{% url 'bear:signUp' %}" style="text-align: center; display: block;">click here to sign up</a>
  </body>
</html>
