{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>BearHub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
	<div class="topnav">
		<a onclick="openNav()" class="menu">Menu</a>
		<button class="b" onmouseover="showInfo()">{{ user.First_name.capitalize }} {{ user.Last_name.capitalize|first }}</button>
	</div>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="{% url 'bear:help' %}">Help</a>
		<a href="{% url 'bear:report' %}">Report</a>
		<a href="{% url 'bear:index' %}">Home</a>
	</div>
	<div id="infoWindow">
		<h2>Current points: {{ user.points }}<br>Grade Level: {{ user.grade_level }}</h2>
	</div>
	<header>
		<img src="{% static 'png/logo-no-background.png' %}" alt="logo" style="width:1000px; height:151px; padding:4px;">
	</header>
	<div class="container">
		<h2>Hello, {{ user.First_name.capitalize }}</h2>
		<div class="containera">
			<h2 class="table-title">My Requests</h2>
			<table>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>Point Request</th>
				</tr>
				{% for event in events %}
				<tr>
					<td>{{ event.name }}</td>
					<td>{{ event.date }}</td>
					<td>{{ event.point_value }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="containera">
			<h2 class="table-title">Available Events</h2>
			<table>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>Description</th>
					<th>Point Request</th>
					<th></th>
				</tr>
				{% for event in Nonevents %}
				<tr>
					<td>{{ event.name }}</td>
					<td>{{ event.date }}</td>
					<td>{{ event.description }}</td>
					<td>{{ event.point_value }}</td>
					<td>
						<form method="post" action="{% url 'bear:requestEvent' %}">
							{% csrf_token %}
							<input type="hidden" name="event_id" value="{{ event.id }}">
							<input type="hidden" name="user_id" value="{{ user.id }}">
							<button type="submit">Request Event</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="containera">
			<h2 class="table-title">Prizes</h2>
			<table>
				<tr>
					<th>Points Required</th>
					<th>Prize</th>
					<th>Claim Reward</th>
				</tr>
				{% for Reward in Rewards %}
				<tr>
					<td>{{ Reward.point_value }}</td>
					<td>{{ Reward.Name }}</td>
					<td>
						<form method="POST" action="{% url 'bear:claim_reward' %}">
							{% csrf_token %}
							<input type="hidden" name="reward_id" value="{{ Reward.id }}">
							<input type="hidden" name="student_id" value="{{ user.id }}">
							<button type="submit">Claim</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	<script src="{% static 'scripts.js' %}"></script>
</body>
</html>
